<?xml version="1.0"?>
<config>
    <modules>
        <PAJ_HTMLinvoice>
            <version>0.15</version>
        </PAJ_HTMLinvoice>
    </modules>
    <global>
        <helpers>
            <htmlinvoice>
                <class>PAJ_HTMLinvoice_Helper</class>
            </htmlinvoice>
        </helpers>
        <blocks>
            <htmlinvoice>
                <class>PAJ_HTMLinvoice_Block</class>
            </htmlinvoice>
            <adminhtml>
                <rewrite>
                    <sales_order_view>PAJ_HTMLinvoice_Block_Sales_Order_View</sales_order_view>
                </rewrite>
                <rewrite>
                    <sales_order_invoice_view>PAJ_HTMLinvoice_Block_Sales_Order_Invoice_View</sales_order_invoice_view>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <admin>
        <routers>
            <htmlinvoice>
                <use>admin</use>
                <args>
                    <module>PAJ_HTMLinvoice</module>
                    <frontName>htmlinvoice</frontName>
                </args>
            </htmlinvoice>
        </routers>
    </admin>
</config>
