<?xml version="1.0"?>
<config>
    <modules>
        <PAJ_HTMLinvoice>
            <version>0.3</version>
        </PAJ_HTMLinvoice>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <htmlinvoice before="Mage_Adminhtml">PAJ_HTMLinvoice_Adminhtml</htmlinvoice>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <helpers>
            <htmlinvoice>
                <class>PAJ_HTMLinvoice_Helper</class>
            </htmlinvoice>
        </helpers>
        <blocks>
            <htmlinvoice>
                <class>PAJ_HTMLinvoice_Block</class>
            </htmlinvoice>
        </blocks>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <htmlinvoice>
                    <file>paj/htmlinvoice/htmlinvoicebackend.xml</file>
                </htmlinvoice>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <htmlinvoice_section1>
            <general>
                <label1></label1>
                <watermark></watermark>
                <logourl></logourl>
                <headertext></headertext>
                <showcomments></showcomments>
                <showimages></showimages>
                <footertext></footertext>
                <addvat></addvat>
                <vatrate></vatrate>
                <templatefile>invoice</templatefile>
            </general>
        </htmlinvoice_section1>
    </default>
</config>